.weather-i {
    left: 15%;
    margin-top: -5.6rem;
}

.weather-e {
width: 100%;
display: flex;
flex-direction: row;
}

.weatherwrapi {
top: 0;
width: 100%;
margin: auto;
background-color: blue;

}